{% extends "registration/base.html" %}
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}
{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class='boxOuter' style='width:300px; margin: 0 auto; margin-top:150px;'>
<div class='topRibbon'>Password reset complete</div>
	<div class='boxInner'>
		<p>Your password has been set.  You may go ahead and <a href="{{ login_url }}">Log in</a> now.</p>
	</div>
</div>
{% endblock %}


{% block content-related %}

{% endblock %}