{% extends 'mtnlss/base.html' %}

{% block include_js %}
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/home.js' %}" ></script>
{% endblock %}


{% block title %}Home{% endblock %}

{% block content %}
	<div id='projsBox'>
		<div class='topRibbon'>Projects</div>
		<div id='projsBoxInside'>
			<div style='text-align:right; margin-bottom: 10px;'><a style='padding: 5px; font-weight: bold; text-decoration:underline; font-size: 16px; cursor: pointer;' onClick='openImportBox()'>Import From File</a></div>
			<div id='projsTableContainer'  style='border: 1px #bbb dashed; margin-bottom:8px;'>
				<!-- JS code brings the code from ProjList here -->
			</div>
			
			<div class="addProjDiv">
			<form action="/whatever/" method="POST" id="addProjForm">
		    	{% csrf_token %}
				<div class='newProjLabel' style='float:left; margin-left: 10px;'>{{ newProjForm.title }}</div>
				<input id='addNewProjButton' type="submit" value="Add project" />
			</form>
			</div>
		</div>
	</div>
	
	<div id='importBox'>
		<div class='boxOuter'  style='background-color: white;'>
			<div class='topRibbon'>Import Project Data From File</div>
			<div class='boxInner'>
				Please select the project title and the input file:<br><br>
				<form id='importForm' action="/aaa/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					Project Title: <input type="text" name="projtitle"/><br>
				    Input File: &nbsp;&nbsp;&nbsp;&nbsp; <input type="file" name="myfile" /><br><br>
				    <input type="submit" name="submit" value="Upload" />
				</form>
			</div>
		</div>
	</div>
	<div id="waitingImage"><img style='float: left; margin-right: 4px; margin-top: 5px;' src="{% static 'images/ajax-loader.gif' %}"></div>
	<div id='darkLayer'></div>
	
{% endblock %}

