{% extends 'mtnlss/base.html' %}

{% block include_js %}
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/home.js' %}" ></script>
{% endblock %}


{% block title %}Home{% endblock %}

{% block content %}
	<div id='projsBox'>
		<div class='topRibbon'>Projects
		</div>
		<div id='projsBoxInside'>
			<div id='projsTableContainer'>
				<!-- JS code brings the code from ProjList here -->
			</div>
			
			<div class="addProjDiv">
			<form action="/whatever/" method="POST" id="addProjForm">
		    	{% csrf_token %}
				<div class='newProjLabel' style='float:left; margin-left: 10px;'>{{ newProjForm.title }}</div>
				<input id='addNewProjButton' type="submit" value="Add project" />
			</form>
			</div>
			
		</div>
	</div>
{% endblock %}

