{% load static %}


<table class= "projsTable" style='border-collapse: collapse; width: 655px; border-bottom:1px solid #ccc;'>
<th> Project<td style='text-align: center'><b>Papers</b></td> <td  style='text-align: center;'><b>Variables</b></td> </th>
	{% for proj in projs %}
	<tr class="{% if forloop.counter|divisibleby:2 %}evenRow{% else %}oddRow{% endif %}" style='border-top: 1px #ccc solid;'>
		<td style='min-width:130px;'><a href="/mtnlss/proj?id={{proj.id}}">{{proj.title}}</a></td>
		<td style='min-width:190px;'>{{proj.paper_set.count}}<span class="sampleItems">&nbsp;&nbsp;({{proj.getPapersSummary}})</span></td>
		<td style='width:70px'>{{proj.variable_set.count}}</td>
		<td class='deleteProjTD' style='width:10px' title='Delete project' onClick='deleteProj({{proj.id}})'><img src='{% static 'images/delete.ico' %}' style="width:15px;"></img></td>
	</tr>
	{% endfor %}
</table>