

/* paper */
#paperFrame{
	position: fixed;
	font-family: Calibri, Tahoma;
	font-size: 15px;
	background-color: white;
	opacity: 1;
	padding: 20px;
	border: 1px gray solid;
	border-radius: 0.3em;
	right: 0;
	left: 0;
	bottom: 0;
	width: 1200px;
	height: 700px;
	margin: auto;
	overflow: auto;
	top: 5px;
	z-index: 3;
	display: table-cell;
	text-align: center;
}
#paperTitle{
	color: #811;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 20px;
	text-align: left;
	margin-left: 50px;
}
#extQuesAnswersBox{
	float: left;
	top: 10px;
	left: 10px;
	margin-left: 50px;
	width: 340px;
	-height: 240px;
	text-align: left;
	-overflow: auto;
}
#extQuesAnswersBoxInside{
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	max-height: 250px;
	overflow: scroll;
}
#extQuesAnswersBoxInside p label{
	font-weight: bold;
}
#topBoxesContainer{
	width: 740px;
	-background-color: gray;
	padding: 10px;
	margin: 0 auto;
	overflow: auto;
}
#paperForm{
	float: left;
	width: 340px;
	text-align: left;
}
#paperFormInside{
	padding: 20px;
}
#paperForm form table tr th{
	text-align: left;
	font-weight: bold;
}
#corTable{
	display: inline-block;
	min-width: 730px;
	-margin: 0 auto;
	margin: 20px;
	margin-top: 0px;
}
.corTableCell input{
	width: 35px;
}

.corTableCell{
	-border: 1px solid gray;
	width: 45px;
	overflow: hidden;
	display: inline-block;
	height: 35px;
	-background-color: #eee;
	display:table-cell;
    vertical-align:middle;
}
.metaTableCell{
	-border: 1px solid gray;
	width: 65px;
	overflow: hidden;
	display: inline-block;
	height: 35px;
	display:table-cell;
    vertical-align:middle;
    font-size: 13px;
}
.corTableCellFirstCol{
	max-width: 150px;
	min-width: 150px;
	font-size: 14.5px;
	-border-right: 1px grey dashed;
	text-align: left;
	overflow: scroll;
	-border-bottom: 1px solid grey;
}
.corTableHeaderCell{
	font-size: 14.5px;
	line-height: 12px;
	-border: 1px solid gray;
	float:left;
	-color: red;
	transform: rotate(60deg);
	-ms-transform: rotate(60deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
	transform-origin: 20% 20%;
	height: 50px;
	width: 90px;
	margin-right: -45px;
	overflow: hidden;
	display: inline-block;
}
#ghostSecondRow{
	-border-bottom: 1px grey dashed;
}
#ghostSecondToLastRow{
	-border-top: 1px grey dashed;
}
#addVar{
	text-align:left;
}
#addVar input{
	width: 80px;
}
#dropdownContainer{
	text-align: left;
	margin: 10px;
}
#newVarForm label{
	visibility: hidden;
}
#newVarForm{
	float: left;
}
#saveTableButton{
	float: right;
}
.rowButton{
	width: 15px;
	cursor: pointer;
}
.rowDeleteButton{
	padding-left: 15px;
}
.rowUpButton{
	padding-right: 10px;
}
.disabledRowButton{
	opacity: 0.3;
	cursor: default;
}
.rowDiv{
	margin-bottom: 6px;
	margin-left: 12px;
	margin-right: 20px;
}
.lastRowcell{
	min-width: 45px;
	max-width: 45px;
	font-size: 14.5px;
	color: gray;
}
#lastRow{
	margin-top: -11px;
}




